Package: perl-dyndns
Version: 2003.0426.1.51-3
Section: net
Section: base
Priority: optional
Architecture: all
Depends: bash (>= 2.03), perl (>= 5.004), debconf (>= 0.5.0)
Maintainer: Jari Aalto 
Description: Perl Dynamic DNS (DDNS) update client to multiple preoviders

 Perl client to update a dynamic DNS IP information at supported providers
 (currently www.dyndns.org, www.no-ip.com ...; see the manual page).
 Visit the page of the provider and create an account. Write down the login
 name, password and host name you registered. After that you're set.
 .
 The Dynamic DNS service allows you to alias a dynamic IP address to a
 static hostname, allowing your computer to be more easily accessed from
 various locations on the Internet. The basic services from the mentioned
 providers may still be free of charge, so please check the current status
 form the pages of these providers.
 .
 Separate files are used for remembering the last IP address to prevent
 updating the same IP address again. This is necessary in order to
 comply guidelines of the providers, where multiple updates of the same
 IP address could cause your domain to be blocked. You should not
 normally need to touch the files where the ip addresses are stored.
 .
 Supported: Modem connections, ISDN connections, Cable and DSL connections,
 any router, that can be accessed with HTTP protocol (e.g Wireless LAN
 router, www.linksys.com) etc.
 .
 WHAT IS DYNAMIC DNS?
 .
 IP Addresses
 ============
 .
 On the Internet each computer has an address, called an Internet Protocol
 address or an IP address. Computers connect to each other by using their IP
 addresses. For example when you visit a web site, you enter the name of the
 web site into your browser but your computer connects to the computer
 running the web site by using that computer's IP address. Although it's
 possible to visit a web site by entering its IP address into your browser,
 it's much more common to enter the domain name of the web site.
 .
 The Domain Name System
 ======================
 .
 That you can enter a name and have that linked to an IP address is due to
 the Internet's domain name system. The domain name system, sometimes
 shortened to DNS, consists of domain name servers whose function is to link
 domain names to their corresponding IP addresses. The result is we can use
 the domain names while our computers use the IP addresses. Domain Names
 .
 When you register a domain name (for example yourname.com) with the domain
 registrar, you tell the registrar not only what domain name you want but
 also the IP address of the domain name server that will link your domain
 name with your IP address.
 .
 Dynamic IP Addresses
 ====================
 .
 Like many Internet users you probably have a dynamic IP address; it changes
 each time you connect to the Internet. There are more Internet users than
 there are IP addresses and your ISP likely has more customers than it has
 IP addresses to allocate. By dynamically allocating IP addresses as they
 are needed your ISP can usually accommodate all its customers. This creates
 no problem when you are only connecting to other computers. But if you want
 someone else to connect to your computer, to your own web site, for
 example, this does create a problem. Remember that the domain name system
 links your domain name to your IP address. If your IP address keeps
 changing how can it be permanently linked to a domain name?
 .
 The solution - DDNS update
 ==========================
 .
 A DDNS client program solves that problem. It runs on your server and sends
 an update request to the domain name servers whenever the IP address
 changes (Modem/ISDN users: ifup, ifdown and Cable and DSL want to use the
 daemon mod). The dynamic domain name servers are like other domain name
 servers except that the IP address record can be automatically changed by
 the client. The result is that the DNS servers ALWAYS have
 your current address on record and can match your domain name to your
 current IP address. When you have a DDNS subscription someone can connect
 to your computer by using your domain name rather than your IP address,
 even if you have a dynamic IP address.
